{% extends 'base.html' %}

{% block content %}

<nav class="navbar" style="background-color:thistle;">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">{{nama}}'s wishlist</span>
      <a class="btn btn-outline-success me-2" type="button" href="{% url 'wishlist:logout' %}">Log Out</a>
    </div>
  </nav>

<table class = "table w-auto" style="background-color:lightpink; margin-right:auto; margin-top:25px;">
    <tr>
    <th>Nama Barang</th>
    <th>Harga Barang</th>
    <th>Deskripsi</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for barang in list_barang %}
        <tr>
            <th>{{barang.nama_barang}}</th>
            <th>{{barang.harga_barang}}</th>
            <th>{{barang.deskripsi}}</th>
        </tr>
    {% endfor %}
</table>
<h5>Sesi terakhir login: {{ last_login }}</h5>

{% endblock content %}